.header
  h2 编辑#{tm('todo')}

= render partial: 'updation_form', locals: { remote: false }

=> link_to t('Show'), [@project, @todo], :class=>"btn btn-sm btn-default"
=> link_to t('Back'), [@project, :todos], :class=>"btn btn-sm btn-default"
